@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pangolin', cursive;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main {
  background-color: #92ec3f;
  padding: 50px;
  display: grid;
  justify-content: center;
}

.input {
  max-width: 500px;
  min-width: 450px;
  margin-bottom: 50px;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-height: 350px;
  min-height: 300px;
  max-width: 350px;
  min-width: 300px;
  background-color: #fff;
}

.gameboard.active {
  background-color: #000;
}

.square {
  border: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
  width: 32%;
  height: 32%;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: 80px;
  background-color: #fff;
}

footer {
  text-align: center;
  align-items: center;
  height: 30px;
}

footer p {
  display: inline;
  text-align: center;
  padding: 5px;
  font-size: 1rem;
}

footer img {
  width: 1rem;
  display: inline;
  cursor: pointer;
  transition: 1s;
}

footer img:hover {
  rotate: 360deg;
}